<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />    
  </head>

  <body>

    <div class="container">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="form-signin">
        <h1 class="welcome-heading">Welcome to the Social Network</h1>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        <br><br>
        <h3 class="thank-you">Thanks for stopping by!</h3>
      </form>
      </div>
      <div class="col-md-4"></div>
      </div>
    </div> <!-- /container -->

    <div class="container">
         <div class="row">
            <div class="col-md-12">
               {% block body %}{% endblock %} 
            </div>
        </div>
    </div>
    <!-- container -->

    {% block javascripts %}{% endblock %}

  </body>
</html>

